name: Deployment

concurrency:
  group: production
  cancel-in-progress: true

on:
  push:
    branches:
      - master
      - deployment
  pull_request:
    branches:
      - master
    types: [opened, synchronize]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:

  lint:
    name: 'Checking code syntax'
    runs-on: ubuntu-latest

    steps:

      - name: 'Checkout Code'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set only difference of code validation for other branches
        if: github.ref_name != github.event.repository.default_branch
        run: echo "VALIDATE_ALL_CODEBASE=false" >> "$GITHUB_ENV"

      - name: Set all code validation flag for default branch
        if: github.ref_name == github.event.repository.default_branch
        run: echo "VALIDATE_ALL_CODEBASE=true" >> "$GITHUB_ENV"

      - name: 'Runing super-linter'
        uses: github/super-linter@v4
        env:
          DISABLE_ERRORS: false
          LOG_LEVEL: WARN
          VALIDATE_ALL_CODEBASE: "${{ env.VALIDATE_ALL_CODEBASE }}"
          IGNORE_GITIGNORED_FILES: true
          VALIDATE_GITLEAKS: true
          VALIDATE_DOCKERFILE_HADOLINT: true
          VALIDATE_PYTHON: true
          VALIDATE_YAML: true
          VALIDATE_MARKDOWN: true
          VALIDATE_GITHUB_ACTIONS: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-and-push:
    name: 'Building image and push it to registry'
    needs: lint
    timeout-minutes: 5
    runs-on: ubuntu-latest
    #if: github.ref_name == github.event.repository.default_branch
    env:
      REGISTRY: ghcr.io
      TAG_NAME: latest
      CACHE_IMAGE_NAME: buildcache

    steps:

      - name: 'Checkout Code'
        uses: actions/checkout@v3

      - name: 'Export lowercase image names'
        shell: bash
        # shellcheck disable=cs2086
        run: |
          : "${{ env.REGISTRY }}/${{ github.repository }}:latest"
          echo "IMAGE_TAG=${_,,}" | tee -a "$GITHUB_ENV"
          : "${{ env.REGISTRY }}/${{ github.repository }}/${{ env.CACHE_IMAGE_NAME }}:latest"
          echo "CACHE_IMAGE_TAG=${_,,}" | tee -a "$GITHUB_ENV"
      - name: 'Login to GHCR'
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Set up Docker Buildx'
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: 'Build and push docker image'
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./
          file: ./Dockerfile
          target: release
          tags: "${{ env.IMAGE_TAG }}"
          push: true
          cache-from: type=registry,ref=${{ env.CACHE_IMAGE_TAG }}
          cache-to: type=registry,ref=${{ env.CACHE_IMAGE_TAG }},mode=max

  deployment:
    name: 'Deploing changes'
    needs: build-and-push
    runs-on: ubuntu-latest
    #if: github.ref_name == github.event.repository.default_branch
    environment: production
    steps:

      - name: 'Checkout code'
        uses: actions/checkout@v3

      - name: 'Checkout and reloading application'
        uses: appleboy/ssh-action@master
        env:
          APP_ENV: ${{ secrets.ENV_PRODUCTION }}
        with:
          host: ${{ secrets.SSH_HOST }}
          port: 22
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: APP_ENV
          debug: true
          script: |
            if [[ ! -d "${{ github.event.repository.name }}/.git" ]]; then git clone ${{ github.server_url }}/${{ github.repository }} ${{ github.event.repository.name }} ; fi
            if [[ -d "${{ github.event.repository.name }}/.git" ]]; then cd ${{ github.event.repository.name }} && git checkout ${{ github.ref }} && git pull ; fi
            echo "$APP_ENV">  .env
            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            docker compose --file docker-compose.yml pull
            #docker compose --file docker-compose.yml build --pull --no-cache;
            #docker compose --file docker-compose.yml up -d
            #docker system prune --all --force;
            docker logout

